
/* fonts */
$body-copy: 15px;
$heading-big: 2.5em;
$heading-big-mobile: 1.7em;
$heading-big-tablet: 1.9em;
$heading-small: 1.2em;
$font-family: 'Poppins', sans-serif;

/* colors */
$primary-color-first: hsl(180, 62%, 55%);
$primary-color-second: hsl(0, 78%, 62%);
$primary-color-third: hsl(34, 97%, 64%);
$primary-color-fourth: hsl(212, 86%, 64%);
$neutral: hsl(229, 6%, 66%);
$neutral-dark: hsl(234, 12%, 34%);
$background: hsl(0, 0, 98%);

/* Breakpoints */
$small: 375px;
$medium: 670px;
$large-tablet: 785px;
$large: 960px;
$extra-large: 1100px;
$huge: 1400px;
