// compileCompressed: ../../dist/css/$1.min.css
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html,
body,
main,
header,
section,
footer,
h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
}

p {
  color: $neutral;
}

h2, h1 {
  color: $neutral-dark;
}

body {
  position: relative;
  height: auto;
  min-height: calc(100vh - 60px);
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: $font-family;
  font-size: $body-copy;
  background: $background;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;



  @include media($small) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }

  @include media($medium) {
    width: 90%;
  }

  @include media($large) {
    flex-direction: row;
  }

  @include media($extra-large) {
    width: 80%;
  }

  @include media($huge) {
    width: 65%;
  }
}

.main-header {
  width: 95%;
  margin: 6vh auto 6vh auto;
  text-align: center;

  &__description {
    margin: 1vh auto 4vh auto;

    @include media($medium) {
      margin: 4vh auto 4vh auto;
      width: 90%;
    }

    @include media($extra-large) {
      width: 80%;
    }
  }

  @include media($small) {
    width: 85%;
  }

  @include media($medium) {
    width: 70%;
  }

  @include media($large) {
    width: 50%;
  }

  @include media($extra-large) {
    width: 42%;
  }
}

.heading {
  font-weight: 600;
  font-size: $heading-big-mobile;
  line-height: $heading-small;

  &__light {
    display: block;
    font-weight: 200;
  }

  @include media($medium) {
    font-size: $heading-big;
  }
}

.card-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 15px;

  @include media($medium) {
    flex-direction: row;
  }

  @include media($large) {
    flex-direction: column;
  }
}

.card {
  position: relative;
  align-self: center;
  width: 100%;
  min-height: 210px;
  min-width: 240px;
  padding: 5%;
  border-radius: 6px 6px 0 0;
  background: #fff;
  box-shadow: 0 19px 25px rgba(0,0,0,0.25), 0 17px 12px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
  animation: scale 1s ease-in-out;

  @include media($medium) {
    min-height: 250px;
  }

  @include media($large) {
    min-height: 220px;
  }

  &:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 19px 45px rgba(0,0,0,0.25), 0 17px 30px rgba(0,0,0,0.2);
  }

  &__image {
    position: absolute;
    bottom: 3%;
    right: 3%;
    box-sizing: content-box;
    width: 65px;
    min-width: 65px;
    padding: 3%;
  }

  &__header {
    padding-bottom: 15px;
  }

  &--first {
    border-top: 6px solid $primary-color-first;
  }

  &--second {
    border-top: 6px solid $primary-color-second;
    margin-bottom: 30px;

    @include media($medium) {
      margin-bottom: 0;
      margin-right: 30px;
    }

    @include media($large) {
      margin-bottom: 30px;
      margin-right: 0;

    }
  }

  &--third {
    border-top: 6px solid $primary-color-third;
  }

  &--fourth {
    border-top: 6px solid $primary-color-fourth;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100%;
  text-align: center;

  @include media($medium) {
    text-align: right;
  }
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@keyframes scale {
  0% {
    transform: scale(.7);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
